bl/lib/seq/aligner/bwa/libbwa/*.ol
bl/lib/seq/aligner/bwa/libbwa/*.o
bl/lib/seq/aligner/bwa/libbwa/bwt_gen/*.[ao]
bl/lib/seq/aligner/bwa/libbwa/bwa
build
classes
docs/_build
bl/lib/version.py
test-classes
*.pyc
