include README.txt setup.py Makefile build.xml VERSION
recursive-include seal *.py *.proto seal.jar *.avsc
graft seal/lib/aligner/bwa/libbwa
recursive-include src *.java
graft docs
graft tests
global-exclude *.ol *.o *.a *.pyc .*.swp *~ .gitignore
prune docs/_build
