include README.txt setup.py Makefile README.txt build.xml
include bin/*
recursive-include seal *.py *.proto seal.jar
recursive-include src *.java
recursive-include docs *
recursive-include tests *
recursive-include seal/lib/aligner/bwa/libbwa/ *
prune *.ol *.o *.a *.pyc
prune seal/lib/aligner/bwa/libbwa/bwa
